/* make scrolling smooth */
html {
  scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */
main {
  padding: 2vw;
}

/* navbar */
.nav {
  background-color: #444;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 10vw;
  width: 10vw;
}

.logo h1 {
  font-size: 1.2em;
}

/* navigation links */
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 1rem, 1rem;
  right: 3%;
}

.nav__toggle svg {
  width: 2rem;
  fill: #333;
}

/* 
** The default (unchecked) state of the checkbox hides the close
** icon and the checkbox itself, displaying the hamburger icon.
** The list items are also hidden by the default state. 
*/
.close {
  display: none;
}

.menu {
  margin-top: 0.2rem;
}

#nav__checkbox {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}

.nav__menu li {
  list-style: none;
  display: none;
  padding: 0.3em 0;
}

/* 
** The checked state of the checkbox reveals the list items and
** close icon and hides the hamburger icon. 
*/
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
  margin-top: 0.5rem;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

/*  
 style all a tags in header 
 and then on hover
*/
.nav__menu a {
  color: whitesmoke;
  background-color: #444;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

.nav__menu a:hover {
  filter: invert(1);
  border-radius: 10px;
  outline: none;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 45rem) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav li {
    display: block;
  }

  .nav__toggle .close {
    display: none;
    margin-top: 0.5rem;
  }

  .nav__toggle .menu {
    display: none;
  }
}
